*.iml
*.ipr
/.idea/
.settings
.classpath
.project
.buildpath
.sass-cache
.DS_Store
Thumbs.db
logs
target
/.settings/
.project
/uploads/
logs/
/logs/
application.local.properties
/uploads/
.externalToolBuilders/
codetemplates.xml
*/META-INF/*